<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_2">
			<div class="content-pad-right">
			<h2>LOOKING FOR SOME BLING?</h2>
				<p>We have a large assortment of Rhinestones, Domes and Rhine-Studs to create that beautiful flashy look that you are after.</p>
				<div class="center"><%= image_tag 'pics/bagstop.jpg', :alt => 'Web Design Tampa' %></div>
				<p>Rhinestones, Domes, and Studs come in many shapes and sizes and colors. Let us know what you're looking for!</p>
				<div class="center"><%= image_tag 'pics/gobulls.PNG', :alt => 'Web Design Tampa' %></div>
				<h3 class="center">Let us create your custom design!</h3>
				<div class="center"><%= image_tag 'pics/footballmom.jpg', :alt => 'Web Design Tampa' %></div>
			</div>
		</div>
		
		
		<div class="grid_1 grid_right center">
			<h2>Have any questions?</h2>
			<p>Contact us by phone at: (813)-973-0468</p>
			<p>Or by e-mail at: AYSD@verizon.net</p>
			<div class="center"><a href="http://maps.google.com/maps?q=17532+Edinburgh+Dr.&um=1&ie=UTF-8&hq=&hnear=0x88c2b7a67bdef681:0x876538a1375f67a7,17532+Edinburgh+Dr,+Tampa,+FL+33647&gl=us&ei=ouyWT7z_K8au6AGoqPi8Dg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA"><%= image_tag 'map.jpg', :alt => 'Web Design Tampa' %></a></div>
		</div>
		</section>
		
	</div>
</section>