<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_2">
			<div class="content-pad-right">
			<h2>Beautiful Embroidery!</h2>
				<p>Embroidery is rich colorful thread sewn onto any number of materials. A great option for business logo's and team apparel.</p>
			<h2>What kind of things can you put it on?</h2>
				<p>Custom designs, logos, and names can be applied to: Polo's, Dress Shirts, Sheets, Towels, Blankets & More!</p>
			
			<div class="center"><%= image_tag 'pics/vgandnolan.jpg', :alt => 'Web Design Tampa' %></div>
			
			<h2>How we create your custom logo:</h2>
				<p>Send us your artwork in JPEG format or choose from on of many stock designs and fonts, it's easy to make a custom design just for you!</p>
				<p>The creation of a custom design is expertly created by people who have over 25 years of experience. Choose from hundreds of different colors and get your great custom shirt!</p>
			
			<div class="center"><%= image_tag 'pics/aysdflower.jpg', :alt => 'Web Design Tampa' %></div>
			</div>
		</div>
		<div class="grid_1 grid_right center">
			<h2>Have any questions?</h2>
			<p>Contact us by phone at: (813)-973-0468</p>
			<p>Or by e-mail at: AYSD@verizon.net</p>
			<div class="center"><a href="http://maps.google.com/maps?q=17532+Edinburgh+Dr.&um=1&ie=UTF-8&hq=&hnear=0x88c2b7a67bdef681:0x876538a1375f67a7,17532+Edinburgh+Dr,+Tampa,+FL+33647&gl=us&ei=ouyWT7z_K8au6AGoqPi8Dg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA"><%= image_tag 'map.jpg', :alt => 'Web Design Tampa' %></a></div>
		</div>
		</section>
		
	</div>
</section>