<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_2">
			<div class="content-pad-right">
			<h2>Welcome to At Your Service Designs</h2>
				<p>We are a custom embroidery and decorated apparel company and an old fashioned sort of business, we strive to give great customer service and to be truly "At Your Service."</p>
			<h2>Need something unique just for your group or company?</h2>
				<p>We specialize in Embroidery, Transfers, and Rhinestone Designs. 
				We can help you create a custom logo just for your group or business. Having access to many brand name suppliers of stylish apparel, as well as having thousands of individual embroidery, transfer and clip art designs, we can meet your needs and look forward to doing so!</p>
				
			<div class="center"><%= image_tag 'darbygolf.JPG', :alt => 'Web Design Tampa' %></div>
			</div>
		</div>
		
		
		<div class="grid_1 grid_right center">
			<h2>Have any questions?</h2>
			<p>Contact us by phone at: (813)-973-0468</p>
			<p>Or by e-mail at: AYSD@verizon.net</p>
			<div class="center"><a href="http://maps.google.com/maps?q=17532+Edinburgh+Dr.&um=1&ie=UTF-8&hq=&hnear=0x88c2b7a67bdef681:0x876538a1375f67a7,17532+Edinburgh+Dr,+Tampa,+FL+33647&gl=us&ei=ouyWT7z_K8au6AGoqPi8Dg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA"><%= image_tag 'map.jpg', :alt => 'Web Design Tampa' %></a></div>
		</div>
		</section>
		
	</div>
</section>