<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_2">
			<div class="content-pad-right">
			<h2>What are Transfers?</h2>
				<p>Heat applied film, or custom screen-printed designs applied to your choice of material. This is not the old crack and peel variety! New heat transfers are made with speciality materials, and come in a wide range of textures and looks including:</p>
			<h3 class="center">Reflective, Neon, Flock (looks like felt), Glitter/Metallic, Film/Vinyl</h3>
				<p class="center">Available in a wide variety of colors! Easily applied to most fabrics!</p>
				<div class="center"><%= image_tag 'pics/finolgrant.jpg', :alt => 'Web Design Tampa' %></div>
			<h3 class="center">What can be done with transfers?</h3>
				<p>Custom designs are welcomed and encouraged, you can choose to have us create the design with your original idea or art workChoose from our "IDEA BOOK" with thousands of clip art designs and fonts available to create a custom look.</p>
				<p>Ideal media for Sports teams, groups or clubs and business T-shirts. Transfers can be applied to almost any fabric out there, making this an extremely flexible, colorful media at an affordable price! We can even use your uploaded JPEG artwork to create a custom full-color design, in just the size you need!</p>
				<div class="center"><%= image_tag 'pics/brittaly.png', :alt => 'Web Design Tampa' %></div>
			</div>
		</div>
		
		
		<div class="grid_1 grid_right center">
			<h2>Have any questions?</h2>
			<p>Contact us by phone at: (813)-973-0468</p>
			<p>Or by e-mail at: AYSD@verizon.net</p>
			<div class="center"><a href="http://maps.google.com/maps?q=17532+Edinburgh+Dr.&um=1&ie=UTF-8&hq=&hnear=0x88c2b7a67bdef681:0x876538a1375f67a7,17532+Edinburgh+Dr,+Tampa,+FL+33647&gl=us&ei=ouyWT7z_K8au6AGoqPi8Dg&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CCEQ8gEwAA"><%= image_tag 'map.jpg', :alt => 'Web Design Tampa' %></a></div>
		</div>
		</section>
		
	</div>
</section>