<section id="content">
	<div class="container">
		
		<section class="cf">
		<div class="grid_full">
			<div class="content-pad-right">
			<h1 class="paddingTop">What We Do</h1>
			<h2 class="marged">Transfers</h2>
			  <p class="centerIt"><%= image_tag 'whatwedo/transfers.png', :alt => 'Web Design Tampa' %></p>
				<p>Heat applied film, or custom screen-printed designs applied to your choice of material. This is not the old crack and peel variety! New heat transfers are made with speciality materials, and come in a wide range of textures and looks including:</p>
			<h2 class="marged">Embroidery</h2>
			  <p class="centerIt"><%= image_tag 'whatwedo/embroidery.png', :alt => 'Web Design Tampa' %></p>
				<p>Heat applied film, or custom screen-printed designs applied to your choice of material. This is not the old crack and peel variety! New heat transfers are made with speciality materials, and come in a wide range of textures and looks including:</p>	
				
			  <h2 class="marged">Rhinestones</h2>
  			  <p class="centerIt"><%= image_tag 'whatwedo/rhinestones.png', :alt => 'Web Design Tampa' %></p>
  				<p>Heat applied film, or custom screen-printed designs applied to your choice of material. This is not the old crack and peel variety! New heat transfers are made with speciality materials, and come in a wide range of textures and looks including:</p>
			</div>
		</div>
		</section>
		
	</div>
</section>